.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.pagination .page,
.pagination .prev,
.pagination .next,
.pagination .break {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  color: #6c63ff;
  text-align: center;
}

.pagination .active {
  background-color: #6c63ff;
  color: white;
  border: none;
}

.pagination .prev,
.pagination .next {
  font-weight: bold;
}

.pagination .break {
  cursor: default;
}